.inter-boo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


.noto-serif-hee {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.black-bold {
    font-weight: bold;
    color: black;
}
.white-bold {
    font-weight: bold;
    color: white;
}

.orange-bold {
    font-weight: bold;
    color: #E95A08;
}

.gray {
    color: #8987A1;
}

.btn {
    color: white;
    background: #E95A08;
    padding: 15px 70px;
    border: none;
}

/* header start */
header {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.ul {
    display: flex;
    list-style: none;
    gap: 70px;
    padding-top: 30px;
}

/* header responsive */
@media screen and (max-width: 576px) {
    header {
        padding-left: 15px;
        padding-right: 15px;
    }

    nav li:nth-child(1),
    nav li:nth-child(2),
    nav li:nth-child(3) {
        display: none;
    }

}

/* banner start */
.banner {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px 150px;
}


.fh3 {
    font-size: 65px;
    font-family: "Noto Serif", serif;
}

.p1 {

    font-style: 22px;
    font-family: "Inter", sans-serif;
}

/* banner responsive */
@media screen and (max-width: 576px) {

    .banner {
        flex-direction: column;
        justify-content: start;
        padding-left: 0px;
        padding-right: 0px;
    }

    .title-part {
        padding-left: 15px;
        padding-right: 15px;
    }

    .Image img {
        width: 450px;
        height: auto;
    }

    .fh3 {
        font-size: 40px;
    }
}

/* plant start */
.plants {
    padding: 20px 150px;
}

.plant-intro {
    text-align: center;
}

.sh3 {
    font-size: 50px;
}

.plant-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;

}

.plant-card {
    height: 485px;
    width: 270px;
    text-align: center;
}

.plant-card img {
    width: 100%;
}

.primary {
    width: 270px;
}

/* plant responsive */
@media screen and (max-width: 576px) {
    .plants {
        padding: 0px 15px;
    }

    .plant-cards {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .plant-card {
        height: 485px;
        width: 220px;
        text-align: center;
    }

    .primary {
        width: 220px;
    }

    .plant-cards :nth-child(7) {
        display: none;
    }

    .plant-cards :nth-child(8) {
        display: none;
    }

}

/* plant lover start */
.trust {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 1900px;
    left: 47%;
    transform: translate(-50%, -50%);
}

.plant-lover {
    margin-top: 80px;
    display: flex;
    padding: 20px 150px;
    justify-content: center;
    gap: 130px;
}

.Imm {
    margin-right: 50px;
}

.immm {
    width: auto;
}

.llover li {
    margin-bottom: 30px;
}

/* plant lover responsive */
@media screen and (max-width: 576px) {
    .trust {
        display: none;
    }

    .plant-lover {
        margin-top: 80px;
        flex-direction: column;
        padding: 15px 15px;
        gap: 10px;
    }

    .immm {
        width: 440px;
        height: 440px;
    }
}

/* start join */
.join {
    background-image: url('assets/news-letter-bg.png');
    height: 500px;
    width: 100%;
    text-align: center;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.placeh{
    width: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 390px;
    padding-left: 10px;
}
.lh1{
    font-style: 50px;
}
/* join responsive */
@media screen and (max-width: 576px) {
.join{
    height: 400px;

}
.placeh{
    width: 250px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0px;
    padding-left: 4px;
}
.btt{
     padding: 13px 27px;
}
}
/* footer start */
footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}
.lp{
    width: 260px;
}
ul li{
    list-style: none;
     margin-bottom: 20px;
}
a {
  text-decoration: none;
   color: #8987A1;
}
.fimg img {
  margin-right: 20px;
}
/* footer responsive */
@media screen and (max-width: 576px){
 footer{
flex-direction: column;   
 padding: 15px 15px;
}   
ul {
  padding-left: 0; 
}
}