.inter-boo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


.noto-serif-hee {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    font-family: "Inter", sans-serif;
}

.black-bold {
    font-weight: bold;
    color: black;
}

.white-bold {
    font-weight: bold;
    color: white;
}

.orange-bold {
    font-weight: bold;
    color: #E95A08;

}

.gray {
    color: #8987A1;
}

.btn {
    color: white;
    background: #E95A08;
    padding: 15px 70px;
    border: none;
    font-family: "Inter", sans-serif;
}

/* header start */
header {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.ul {
    display: flex;
    list-style: none;
    gap: 70px;
    padding-top: 30px;
}

/* header responsive */
@media screen and (max-width: 576px) {
    header {
        padding-left: 15px;
        padding-right: 15px;
    }

    nav li:nth-child(1),
    nav li:nth-child(2),
    nav li:nth-child(3) {
        display: none;
    }

}

/* banner start */
.banner {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px 150px;
}


.fh3 {
    font-size: 65px;
    font-family: "Noto Serif";
}

.p1 {

    font-style: 22px;
}

/* banner responsive */
@media screen and (max-width: 576px) {

    .banner {
        flex-direction: column;
        justify-content: start;
        padding-left: 0px;
        padding-right: 0px;
    }

    .title-part {
        padding-left: 15px;
        padding-right: 15px;
    }

    .Image img {
        width: 450px;
        height: auto;
    }

    .fh3 {
        font-size: 40px;
    }
}

/* plant start */
.plants {
    padding: 20px 150px;
}

.plant-intro {
    text-align: center;
}

.sh3 {
    font-size: 50px;
    font-family: "Noto Serif", serif;
}

.plant-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;

}

.plant-card {
    height: 485px;
    width: 270px;
    text-align: center;
}

.plant-card img {
    width: 100%;
}

.primary {
    width: 270px;
}

/* plant responsive */
@media screen and (max-width: 576px) {
    .plants {
        padding: 0px 15px;
    }

    .plant-cards {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .plant-card {
        height: 485px;
        width: 220px;
        text-align: center;
    }

    .primary {
        width: 220px;
    }

    .plant-cards :nth-child(7) {
        display: none;
    }

    .plant-cards :nth-child(8) {
        display: none;
    }

}

/* plant lover start */
.trust {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 1900px;
    left: 47%;
    transform: translate(-50%, -50%);
}

.plant-lover {
    margin-top: 80px;
    display: flex;
    padding: 20px 150px;
    justify-content: center;
    gap: 130px;
}

.Imm {
    margin-right: 50px;
}

.immm {
    width: auto;
}

.llover li {
    margin-bottom: 30px;
    list-style: disc;
}

/* plant lover responsive */
@media screen and (max-width: 576px) {
    .trust {
        display: none;
    }

    .plant-lover {
        margin-top: 80px;
        flex-direction: column;
        padding: 15px 15px;
        gap: 10px;
    }

    .immm {
        width: 440px;
        height: 440px;
    }
}

/* deal start */
.deals-part {
    padding: 150px 150px;
}

.deal-intro {
    text-align: center;
    margin-bottom: 50px;
}

h5 {
    font-family: "Noto Serif", serif;
}

.deals {
    display: grid;
    grid-template-areas:
        "deal-1 deal-2"
        "deal-3 deal-2";

    grid-template-columns: 1fr 2fr;

    gap: 15px;
}

#b {
    color: white;
    text-decoration-color: white;
}

.deal-1 {
    background-image: url('assets/deal-bloom.png');
    background-repeat: no-repeat;
    height: 201px;
    width: 367px;
    border-radius: 14px;
    text-align: center;
    align-content: center;
    color: white;
    grid-area: deal-1;
    margin-right: 0;
}

.deal-2 {
    background-image: url('assets/deal-zabo.png');
    background-repeat: no-repeat;
    border-radius: 14px;
    text-align: center;
    align-content: center;
    color: white;
    grid-area: deal-2;

    margin-left: 0;
}

.deal-3 {
    background-image: url('assets/deal-ana.png');
    background-repeat: no-repeat;
    overflow: hidden;
    height: 201px;
    width: 367px;
    border-radius: 14px;
    text-align: center;
    align-content: center;
    color: white;
    grid-area: deal-3;
    margin-right: 0;
}

/* deals responsive */
@media screen and (max-width: 576px) {
    .deals-part {
        padding: 15px 15px;
    }

    .deal-2 {
        height: 201px;
        width: 367px;
    }

    .deals {

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* start join */
.join {
    background-image: url('assets/news-letter-bg.png');
    height: 500px;
    width: 100%;
    text-align: center;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;

}

h1 {
    font-family: "Noto Serif", serif;
}

.placeh {
    width: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 390px;
    padding-left: 10px;
    font-family: "Inter", sans-serif;
}

.lh1 {
    font-style: 50px;
}

/* join responsive */
@media screen and (max-width: 576px) {
    .join {
        height: 400px;

    }

    .placeh {
        width: 250px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 0px;
        padding-left: 4px;
    }

    .btt {
        padding: 13px 27px;
    }
}

/* footer start */
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

.lp {
    width: 260px;
}

ul li {
    list-style: none;
    margin-bottom: 20px;
}

#a {
    text-decoration: none;
    color: #8987A1;
}

.fimg img {
    margin-right: 20px;
}

/* footer responsive */
@media screen and (max-width: 576px) {
    footer {
        flex-direction: column;
        padding: 15px 15px;
    }

    ul {
        padding-left: 0;
    }
}